<div class="row">
  <div class="col s12 m12 l5 fill">
    <div class="container center c1">
      <h2>LOGO</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="input-field z-depth-1 custom-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate', id: 'email-input' %>
            <label for="email-input">Email</label>
          </div>

          <div class="input-field z-depth-1 custom-field">
            <%= f.password_field :password, autocomplete: "current-password", minlength: 6, class: 'validate' %>
            <label for="password-input">Senha</label>
          </div>

         <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "text-blue accent-2 right" %>
        </div>

        <%= f.submit "Log in", class: 'btn center blue theme custom-button', value: 'Login' %>
      <% end %>
    </div>
  </div>
  <div class="col l7 hide-on-med-and-down blue theme fill valign-wrapper">
    <div class="container c2">
      <div class="row center">
        <h4>LOGO</h4>
        <h5>Junte-se aos seus amigos</h5>
      </div>
      <div class="row center">
        <img class="responsive-img" src="http://lorempixel.com/output/cats-q-c-640-480-1.jpg">
      </div>
    </div>
  </div>
</div>