<ul>
  <li> <%= link_to 'Home', home_index_path %> </li>
  <li> <%= link_to 'Institutions', institutions_path %> </li>
  <li> <%= link_to 'Courses', courses_path %> </li>
  <li> <%= link_to 'Disciplines', disciplines_path %> </li>
  <li> <%= link_to 'Groups', groups_path %> </li>
  <li> <%= link_to 'Users', users_path %> </li>
</ul>