<ul id="slide-out" class="sidenav sidenav-fixed blue theme white-text">
  <li>
    <div class="user-view center">
      <%=image_tag 'logo', class: 'responsive-img custom-image logo-size' %>
    </div>
  </li>
  <li class="nav-item z-depth-1 right <%= active_tab_class('admins') %>">
    <%= link_to 'Administradores', admins_path, class: 'white-text' %>
  </li>
  <li class="nav-item z-depth-1 right <%= active_tab_class('institutions') %>">
    <%= link_to 'Instituições', institutions_path, class: 'white-text' %>
  </li>
  <li class="nav-item z-depth-1 right <%= active_tab_class('courses') %>">
    <%= link_to 'Cursos', courses_path, class: 'white-text' %>
  </li>
  <li class="nav-item z-depth-1 right <%= active_tab_class('disciplines') %>">
    <%= link_to 'Disciplinas', disciplines_path, class: 'white-text' %>
  </li>
  <li class="nav-item z-depth-1 right <%= active_tab_class('groups') %>">
    <%= link_to 'Grupos', groups_path, class: 'white-text' %>
  </li>
  <li class="nav-item z-depth-1 right <%= active_tab_class('students') %>">
    <%= link_to 'Estudantes', students_path, class: 'white-text' %>
  </li>
</ul>
